@media (max-width: 1250px) {
    header {
        padding: 12px 3%;
    }

    section, footer {
        padding: 60px 3% 70px;
    }

}

@media (max-width: 1000px) {
    .navbar .header-icons #menu-icon {
        display: inline-flex;
    }

    .navbar ul {
        position: absolute;
        top: -800px;
        left: 0;
        right: 0;
        width: 100%;
        background-color: var(--main-color);
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        transition: all 0.50s ease;
    }

    .navbar ul.active {
        top: 100%;
    }

    .navbar ul li {
        margin: 10px 0;
        padding: 5px 0;
    }

    .navbar ul li a {
        display: block;
        font-size: 20px;
        font-weight: 600;
    }

    .navbar ul li a:hover {
        color: #f4f4f4;
    }
}

@media (max-width: 600px) {
    :root {
        --h1-font: 3.1rem;
        --h2-font: 2rem;
        --p-font: 1rem;
    }

    .footer-content ul li a:hover {
        transform: translateX(0);
    }
    
    .scroll-button {
        right: 2rem;
        bottom: 4.5rem;
    }

    .latest-content .content p {
        font-size: 17px;
    }
}

@media (max-width: 400px) {
    .navbar .header-icons i {
        display: none;
    }

    .home-text h1 {
        line-height: 1.1;
    }

    .banner, .new-content, .latest-content {
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    }
}

@media (max-width: 380px) {
    .home-text .home-button {
        margin-top: 1.8rem;
    }
}